<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p>Github : <a href="https://github.com/tanmaygurav">tanmaygurav</a> </p>
<%- include("partials/footer"); -%>
