<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <P>Email : tanmayvgurav@gmail.com</P>
    <p>Github : <a href="https://github.com/tanmaygurav">tanmaygurav</a> </p>

<%- include("partials/footer"); -%>
