
<%- include("partials/header"); -%>


<h1><%=title%></h1>
<p><%=content%></p>
<button class="btn btn-primary" >Update</button>
<button class="btn btn-danger" >Delete</button>
<br>


<%- include("partials/footer"); -%>
