<%- include("partials/header"); -%>
<h1>Scan this QR code with your Google authenticator app</h1>
<h3>This is a One time Process, for enabling Two Factor Authentication on your Account</h3>

<div class="container-fluid">
<img src=<%= data %>  alt="qrcode" srcset="">
</div>

<%- include("partials/footer"); -%>